{% extends 'base_content.html' %}
{% load static %}
{% load bootstrap_pagination %}
{% block title %}
| Books
{% endblock %}
{% block content %}
  

{% if general %}
  <h1 class="fw-light center bg-purple text-white" style="text-align: center;">Books</h1>
  <div class="carousel-inner" style="top: -8px;">
    <div class="carousel-item active">
      

      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="120%" fill="#faf3ee"/>
        <image width="100%" height="100%" loading="lazy" alt="books list background image"  xlink:href="{% static 'images/book_page4.png' %}"  />

      </svg>

      
      <div class="container row py-lg-1" style = "position:relative; right:50px; bottom:100px;">
        <div class="carousel-caption">
            <div class="col-sm-6 col-md-3 col-lg-4">
              <h1 style="color: #000000; font-size: 3rem" class="fw-light center">Add your favourite books.</h1>
              <p><a class="btn btn-lg btn-outline-dark fw-light center mt-2" href='{% url 'add_book' %}'>Add Book</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p class="lead" style="text-align: center; color: #464C51;">Explore The ordinaries’s ever-expanding collection of book of different categories and genres. Find your next great adventure!</p>
      </div>
    </div>
  </div>
 {% endif %}
 

<div class="container">
  {% if count == 0 %}
    {% if general %}
      <div style="text-align: center; padding-top: 50px;">
        <h4 class="lead ">There are no books, want to add one?</h4>
        <a href={% url 'add_book' %} class="btn my-2 btn-outline-secondary">Add a book</a>
      </div>
    {% else %}
      <div style="text-align: center; padding-top: 50px;">
        <h4 class="lead ">The book list is empty! find more book you might like.</h4>
        <a href='/books' class="btn my-2 btn-outline-secondary">More books</a>
      </div>
    {% endif %}
            
  {% else %}
    <div class = "col-12 mt-5">
      {% if general %}
        <form class="d-flex" method=GET action='{% url 'books_list' %}'> 
      {% else %}
        <form class = "d-flex" method = "GET" action = '{% url 'books_list' user.id %}'>
      {% endif %}
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <button class="mt-2 ms-2 btn btn-outline-dark " type="submit" style="color: light-grey;">Sort</button>
      </form>
    </div>
    <div class="row justify-content-center">
       {% for book in books %}
          <div class="col-sm-6 col-md-4 col-lg-3 text-center">
            {% include 'partials/book_card.html' with book=book %}
            <a href={% url "book_details" book_id=book.id %} class="btn btn-outline-dark ms-2" style="margin-left:6em"  role="button" > View &raquo;</a>
          </div>
        {% endfor %}
    </div>
    <ul class="pagination justify-content-center mt-5">
      {% bootstrap_paginate books show_prev_next="false"  show_first_last="true" range=5  %}
    </ul>
  {% endif %}
</div>


{% endblock %}


