{% extends 'base.html' %}
{% block body %}
<section class="p-0 bg-img cover-background">
  <div class="container-fluid d-flex flex-column">
      <div class="row align-items-center justify-content-center min-vh-100">
          <div class="col-md-9 col-lg-6 my-5">
              <div class="text-center error-page">
                  <h1 class="mb-0 text-secondary">404</h1>
                  <h2 class="mb-4 text-secondary">OOPS, it looks like you're lost!</h2>
                  <div>
                    <a href='{% url 'home' %}' class="btn btn-lg btn-secondary">Home</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}
