{% extends 'base_content.html' %}
{% block title %}
| Add book
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="text-align:center;" class="mt-3">Add book</h1>
      <form action="{% url 'add_book' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <button onclick="history.back()" class="btn btn-lg btn-outline-dark">Cancel</button>
        <input id="form_button" type="submit" value="add book" class="btn btn-lg btn-outline-dark">
      </form>
    </div>
  </div>
</div>
{% endblock %}

