{% extends 'base_content.html' %}
{% block title %}
| Applicants 
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <h1 class="mb-3 mt-3">Applicants for {{club.name}} club </h1>
                    <form class="d-flex" method=GET action='{% url 'applicants_list' club.id %}'> 
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=form %}
                    <button class="mt-2 ms-2 btn btn-outline-dark" type="submit" style="color: light-grey;">Sort</button>
                    </form>
                    <table class="table user-list">
                        <tbody>
                            {%if request.user.id == club.owner.id %}
                            {% for applicant in applicants %}
                                <tr>
                                    <td>
                                        <img src="{{ applicant.gravatar }}" loading="lazy" alt="Gravatar of {{ applicant.full_name }}" class="rounded-circle profile-image" >
                                        <span style="width: 180px;"class="user-link">{{applicant.full_name}}</span>
                                        <a href={% url 'profile' applicant.id %} style="color: grey; font-style: italic;" >{{applicant.username}}</a>
                                    </td>
                                    <td>
                                        <div style="display: -webkit-box; max-width: 400px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;"> {{applicant.bio}} </div>
                                    </td>
                                    <td style="width: 20%; text-align:center">
                                        {% if applicant != current_user%}
                                        <td >
                                            <a href='{% url 'accept_applicant' club.id applicant.id %}' class="btn btn-outline-success" style="color: black" >Accept</a> 
                                        </td>
                                        <td>
                                            <a href='{% url 'reject_applicant' club.id applicant.id %}' class="btn btn-outline-danger" style="color: black" >Reject</a>   
                                        </td>
                                        {% endif %}
                                    </td>
                                </tr>
                            {%endfor%}
                            {%endif%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

