{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block title %}Books{% endblock %}
{% block content %}
  
{% if general %}
  <div class="container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light center" style="text-align: center;">Books</h1>
        <!-- TODO: Change paragrph here -->
        <p class="lead text-muted">Explore The ordinaries’s ever-expanding collection of book categories and genres. Find your next great book to read with friends!</p>
      </div>
    </div>
  </div>
 {% endif %}

<div class="container">
  {% if count == 0 %}
    {% if general %}
      <div style="text-align: center;   padding-top: 50px;">
        <h4 class="lead ">There are no books, want to add one?</h4>
        <a href={% url 'add_book' %} class="btn my-2 btn-outline-secondary">Add a book</a>
      </div>
    {% else %}
      <div style="text-align: center;   padding-top: 50px;">
        <h4 class="lead ">The book list is empty! find more book you might like.</h4>
        <a href='/books' class="btn my-2 btn-outline-secondary">More books</a>
      </div>
    {% endif %}
            
  {% else %}
    <div class = "col - 12">
      {% if general %}
        <form class="d-flex" method=GET action='{% url 'books_list' %}'> 
      {% else %}
        <form class = "d-flex" method = "GET" action = '{% url 'books_list' user.id %}'>
      {% endif %}
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <button class="mt-2 ms-2 btn btn-outline-dark " type="submit" style="color: light-grey;">Sort</button>
      </form>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for book in books %}
        <div class="col">
          <div style="text-align: center;">
            <img src= "{{ book.image_url }}"  width="220" height="300" class=" image-thumbnail mb-3" />
            <h2 style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">{{ book.title }}</h2>
            <p >{{ book.author }}</p>
            <p >{{ book.year }}</p>
            <a href='{% url 'book_details' book.id %}' class="btn my-2 btn-outline-secondary">View</a>
          </div>
        </div>
      {% endfor %}
    </div>
    <ul class="pagination justify-content-center">
      {% bootstrap_paginate books show_prev_next="false"  show_first_last="true" range=5  %}
    </ul>
  {% endif %}
</div>

 
{% endblock %}


