{% extends 'base_content.html' %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}

<div class="container">
  <div class="row mt-3">
    <div class = "d-flex justify-content-center text-black name-and-edit mb- mt-2">
      <h2 class = "me-2">{{ book.title }}</h2> 
        {% if reader %}
          <a  href='{% url 'add_book_to_list' book_id=book.id %}' class="bi-bookmark-check-fill float-left"
          style="font-size: 2.3rem; color: green;"></a>
        {% else %}
          <a href='{% url 'add_book_to_list' book_id=book.id %}' class="bi-bookmark-plus"
          style="font-size: 2.3rem; color: grey;"></a>
        {% endif %}
    </div>
    <div class="book-nav col-md-4 col-sm-3">
        <div class="panel">
            <div class="book-heading">
              <div class = "align-items-center">
                <h5>
                  <div class="fw-light  text-black text-left me-5 mb-3">
                  
                    <i class="fa fa-star{% if book.average_rating < 1%}-o{% elif book.average_rating == 1 %}-half-o{% endif %}" aria-hidden="true"></i> 
                    <i class="fa fa-star{% if book.average_rating < 3%}-o{% elif book.average_rating == 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if book.average_rating < 5%}-o{% elif book.average_rating == 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if book.average_rating < 7%}-o{% elif book.average_rating == 7  %}-half-o{% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if book.average_rating < 9%}-o{% elif book.average_rating == 9 %}-half-o{% endif %}" aria-hidden="true"></i> 
                    {%if numberOfRatings%}
                      <span>({{book.average_rating}}/10.0)</span>
                    {%else%} 
                      <span>( - /10.0)</span>
                    {%endif%}
                  </div>
                </h5>
                <div>
                  <img src= "{{ book.image_url }}" class="image-thumbnail mb-2 img-fluid" width="330" height="460" />
                </div>
              </div>
              {% if not rating %}
              <form action="{% url 'add_review' book.id %}" method="post" class = "text-black">
                {% csrf_token %}
                <h5 class = " mt-2 mb-3">How do you rate this book? 
                  
                  <div>
                    <div class="rate mb-2 mt-2">
                      <input class="rate" type="radio" name="rating" id="rating10" value="5" /><label for="rating10" title="5"></label>
                      <input type="radio" name="rating" id="rating9" value="4.5" /><label for="rating9" title="4.5" class="half"></label>
                      <input type="radio" name="rating" id="rating8" value="4" /><label for="rating8" title="4"></label>
                      <input type="radio" name="rating" id="rating7" value="3.5" /><label for="rating7" title="3.5" class="half"></label>
                      <input type="radio" name="rating" id="rating6" value="3" /><label for="rating6" title="3"></label>
                      <input type="radio" name="rating" id="rating5" value="2.5" /><label for="rating5" title="2.5" class="half"></label>
                      <input type="radio" name="rating" id="rating4" value="2" /><label for="rating4" title="2"></label>
                      <input type="radio" name="rating" id="rating3" value="1.5" /><label for="rating3" title="1.5" class="half"></label>
                      <input type="radio" name="rating" id="rating2" value="1" /><label for="rating2" title="1"></label>
                      <input type="radio" name="rating" id="rating1" value="0.5" /><label for="rating1" title="0.5" class="half"></label>
                    </div>         
                    <textarea name="review" rows="4" class="form-control mb-3 justify-content-safe-center book_textarea" placeholder="Write your review"></textarea>
                    <input type="submit" value="Submit Review" class="btn btn-dark mb-3">
                  </div>
                </h5>
              </form>
              {%else%}
              <div class = "">
                <div class='reviews-heading mt-3'>
                  <div class = "name-and-edit mb-2">
                    <h4 class ="font-weight-bold me-2">Your Review:</h4>
                    &emsp; 
                    <a href= '{% url 'edit_review' review_id=rating.id %}' class="edit-pencil text-black bi-pencil-square  mb-1" style = "font-size:1.3rem"> </a>
                  </div>
                  <h6 class="review-info-alternate-heading mt-1">
                    <i class= "fa fa-clock mr-1"> </i> {{rating.created_at}}
                  </h6>
                  <div class="rating-star">
                  
                      <i class="fa fa-star{% if review.rating < 1%}-o{% elif review.rating == 1 %}-half-o{% endif %}" aria-hidden="true"></i> 
                      <i class="fa fa-star{% if review.rating < 3%}-o{% elif review.rating == 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if review.rating < 5%}-o{% elif review.rating == 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if review.rating < 7%}-o{% elif review.rating == 7  %}-half-o{% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if review.rating < 9%}-o{% elif review.rating == 9 %}-half-o{% endif %}" aria-hidden="true"></i> 
                    
                      <span>( {{ rating.rating }}/10.0 )</span>
                  </div>
                </div> 
                <div class= "review-body mt-2">
                  <p>{{rating.review}}</p> 
                </div>
              </div>
              {% endif %}
            </div>    
        </div>
    </div>
    <div class="book-info col-md-8 col-sm-9 max-width: 100%; and height: auto;">
        <div class="panel">
            <div class="bio-graph-heading">
                <h2 class = "mb-3 me-5">About the book:</h2>
                <div class="row overflow-text no-gutters ">
                  {% if book.author %}
                    <div class="bio-row" style="text-align: left;">
                        <label class="text-md">Author:</label> &emsp;
                        <p>{{book.author}}</p>
                    </div>
                  {%  endif %}
                  <div class="bio-row" style="text-align: right;">
                      <label>ISBN:</label> &emsp;
                      <p>{{book.ISBN}}</p>
                  </div>
                  {% if book.genre %}
                    <div class="bio-row" style="text-align: left; overflow-wrap: break-word;">
                      <label>Genre:</label> &emsp;
                      <div style = "max-width: 15rem; min-width:6rem;overflow-wrap: break-word;">
                        <p style=" text-align: left;" class = "m-0">{{book.genre}}</p>
                      </div>
                    </div>
                  {% endif %}
                  {% if book.pages_num %}
                  <div class="bio-row px-3" style="text-align: right;">
                    <label>Pages:</label> &emsp;
                    <p>{{book.pages_num}}</p>
                </div>
                  {% endif %}
                </div>
            </div>
            {% if book.description %}
              <div class="panel-body bio-graph-info mt-3 mb-5">
                <h4>Description:</h4>
                  <p>{{ book.description }}</p>
              </div>
            {% endif %}
        </div>
        <div class="w-100"></div>
        <div class = "justify-content-center">
          <div class="row mt-3 centered">
              <div class="col-lg-5 col-sm-4 canvas-statistics text-align:center">
                  <div class="panel">
                      <div class="panel-body">
                          <div class="bio-chart">
                              <div style="display:inline; width:70px;height:90px;">
                                  <canvas width="70px" height="90px"></canvas>
                                  <input  disabled class="knob count-canvas" style = "color:#eceae8;" 
                                  value = " {{book.readers_count}}" data-width="100" data-height="100"  data-thickness=".2">
                              </div>
                          </div>
                          <div class="bio-desk mt-4 pt-2">
                              <h3 class="">Readers</h3>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5 col-sm-4 canvas-statistics text-align:center">
                <div class="panel">
                  <div class="panel-body">
                      <div class="bio-chart">
                          <div style="display:inline; width:70px;height:90px;">
                              <canvas width="70px" height="90px"></canvas>
                              <input  disabled class="knob count-canvas" style = "color:#eceae8;" 
                              value = "{{reviews_count}}" data-width="100" data-height="100"  data-thickness=".2">
                          </div>
                      </div>
                      <div class="bio-desk mt-4 pt-2">
                          <h3 class="">Reviews</h3>
                      </div>
                  </div>
              </div>
                
              </div>
            </div>
        </div>
    </div>
      <div class="container mt-5">
        <h5 class= "text-uppercase font-weight-bold">Reviews:</h5>
        <hr class= "at-0 pt-0">
        <div class="row">
          <div class="col-sm-7 mt-2">
            {% if reviews %}
              {% for review in reviews %}
              <div class='reviews-heading'>
                <h6 class="review-info-alternate-heading">
                  <i class= "fas fa-user mr-1"> <a href= {% url 'profile' review.user.id  %}> {{review.user.username}} </a></i>
                  <i class= "fa fa-clock mr-1"> </i> {{review.created_at}}
                </h6>
                <div class="rating-star">
                
                      <i class="fa fa-star{% if review.rating < 1%}-o{% elif review.rating == 1 %}-half-o{% endif %}" aria-hidden="true"></i> 
                      <i class="fa fa-star{% if review.rating < 3%}-o{% elif review.rating == 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if review.rating < 5%}-o{% elif review.rating == 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if review.rating < 7%}-o{% elif review.rating == 7  %}-half-o{% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if review.rating < 9%}-o{% elif review.rating == 9 %}-half-o{% endif %}" aria-hidden="true"></i> 
                  
                  <span>( {{ review.rating }}/10.0 )</span>
                </div>
              </div> 
            <div class= "review-body mt-2">
              <p>{{review.review}}</p> 
            </div>
              {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
  </div>
</div>
<br/> 
<br/> 
{% endblock %}