{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% load humanize %}
{% block title %}Chat{% endblock %}
{% block content %}

<script>
    $(document).ready(function(){
    
    setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "/getMessages/{{club.id}}",
            success: function(response){
                console.log(response);
                $("#display").empty();
                for (var key in response.chats) {
                    if(response.username != response.users[key]) {
                        var temp="<div id=rcorners1 class='container darker text-white mb-2'><b>"+response.users[key]+"</b>"+
                            "<span class='time-left'> &nbsp;&middot;&nbsp;"+response.chats[key].created_at+"</span><p>"+
                            response.chats[key].message+"</p></div>";                    }
                    else {
                        var temp="<div id=rcorners2 class='container darker text-white mb-2'><b>"+response.users[key]+"</b>"+
                            "<span class='time-left' > &nbsp;&middot;&nbsp;"+response.chats[key].created_at+"</span><p>"+
                            response.chats[key].message+"</p></div>";
                    }
                    $("#display").append(temp);
                }
            }
        });
    },1000);
    })
</script>

<h1 class="fw-light center mt-4 mb-5" style="text-align:center;">{{club.name}} Chat Room</h1>
<div id="display" class="col-8"></div>
<div class="col-8 mb-6">
    <form id="post-form" class="form-inline">
        {% csrf_token %}
            <input type="hidden" name="username" id="username" value="{{user.username}}"/>
            <input type="hidden" name="club_id" id="club_id" value="{{club.id}}"/>
            <input type="text" name="message" id="message" class="form-control" style="margin-left:12em"/>
        <input type="submit" class="btn btn-dark" value="Send">
    </form>
</div>

<script type="text/javascript">
    $(document).on('submit','#post-form',function(e){
      e.preventDefault();
  
      $.ajax({
        type:'POST',
        url:'/send',
        data:{
            username:$('#username').val(),
            club_id:$('#club_id').val(),
            message:$('#message').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(data){
           // alert(data)
        }
      });
      document.getElementById('message').value = ''
    });
  </script>

{% endblock %}
