{% extends 'base_content.html' %}
{% block title %}{{ club.name }}{% endblock %}
{% block content %}




<div class="container mt-5">
  <div class="row">
      <div class="col-lg-4 pb-5 mx-0">
          <!-- Club Sidebar-->
          <div class="club-details-card pb-3">
              <div class="club-details-card-cover"></div>
              <div class="club-details-card-profile">
                  <div class="club-details-card-avatar">
                  </div>
                  <div class="club-details-card-details">
                      <h3 class="club-details-card-name text-lg">{{club.name}} 
                        {% if user == club.owner %}
                        <span>
                          <a href='{% url 'edit_club' club_id=club.id %}' class="bi-pencil-square mb-3"
                          style="font-size: 1.3rem; color: grey;"></a>
                        </span>
                        {% endif %}
                      </h3>
                  </div>
              </div>
          </div>
          <div class="wizard">
              <nav class="list-group list-group-flush">
                <!-- BOOKS LIST BUTTON -->
                  <a class="list-group-item" href="books/">
                      <div class="d-flex justify-content-between align-items-center">
                          <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                              <div class="d-inline-block font-weight-medium text-uppercase">Book List</div>
                          </div>
                      </div>
                  </a>
                  <!-- MEMBERS LIST BUTTON-->
                  {% if is_member %}
                    <a class="list-group-item" href='{% url "members_list" club.id %}'> 
                    <i class="fe-icon-user text-muted"></i>Member List</a>  
                  {% endif %}
                  
                  {% if is_member %}
                  <div class="list-group-item">
                    <h4  class="mb-3">Upcoming meeting:</h4>
                    <div class="card card-body  pb-0">
                      <!-- UPCOMMING MEETING WITH SELECTED BOOK -->
                      {%if upcoming_meeting %}
                        <p>Title: {{ upcoming_meeting.title }}</p>
                        <p>Time: {{ upcoming_meeting.time }}</p>

                        {% if upcoming_meeting.book %}
                            Book Title : 
                            <a href='{% url 'book_details' upcoming_meeting.book.id %}' style = "color:black;"> 
                              {{upcoming_meeting.book.title}}
                            </a>
                            <div class="profile-img">
                              <img src="{{ upcoming_meeting.book.image_url }}"  width="110" height="150" class="mt-2 mb-3"/>
                            </div>
                            <!-- UPCOMING MEETING WITHOUT A SELECTED BOOK YET -->

                        {% else %}
                            <!--BOOK CHOOSING LINK FOR MEMBER WHOSE TURN IT IS -->
                            Book:
                            {%if user != upcoming_meeting.chooser%}
                                <a> No book has been chosen yet.. </a> 

                            {% else %}
                              <a href="{% url 'choice_book_list' meeting_id=upcoming_meeting.id  %}" class="btn btn-outline-info"> 
                                Choose book
                              </a>

                            {% endif %} 
                            <!-- NOTES FOR THE MEETING-->
                            <p class="mt-2"> Link: <a href= "{{upcoming_meeting.link}}"> meeting link </a></p>
                            <p>Notes: {{ upcoming_meeting.notes }}</p>
                        {% endif %}

                      {%else %}
                        <a class = "mb-3"> No meeting has been scheduled yet.. </a> 
                      {%endif%}
                    </div>
                        <a class="list-group-item" href='{% url "meetings_list" club.id %}' class="btn btn-outline-dark mt-2"> more meetings </a>
                  </div>
                  {% endif %}

                
                  <!--APPLICANTS LIST BUTTON-->
                  {% if user == club.owner %}
                    {% if club.club_type == "Private"%}
                      <a class="list-group-item" href="{% url 'applicants_list' club.id %}">
                        <i class="fe-icon-map-pin text-muted"></i>Applicants List
                      </a>
                    {% endif %}
                      <!-- SCHEDULE A MEETING FOR CLUB OWNERS -->
                    <a class="list-group-item" href="{% url 'schedule_meeting' club_id=club.id %}"> 
                      <i class="fe-icon-map-pin text-muted"></i>Schedule a meeting 
                    </a>  
                  {% endif %}
                    <!-- TRANSFER OWNERSHIP -->
                  {% if user == club.owner %}
                    <a class="list-group-item" href="transfer_ownership/">
                      <i class="fe-icon-map-pin"></i>Transfer Ownership
                    </a>
                  {% endif %}
                    <!-- WITHDRAW BUTTON-->
                  {% if not user == club.owner and is_member%}
                    <a class="list-group-item " href="{% url 'withdraw_club' club_id=club.id %}">
                      <i class="fe-icon-map-pin" ></i>Withdraw from club
                    </a>
                  {% endif %}   

                <!-- JOIN BUTTON -->
                  {% if not user == club.owner and not is_member and not is_applicant%}
                      {% if user.city == club.city %}

                        <a  class="list-group-item" href="{% url 'join_club' club_id=club.id %}" id = "join_club_button">
                          <i class="fe-icon-map-pin"></i>Join club
                        </a> 

                      {% else %}
                        <a  class="list-group-item"  href="{% url 'join_club' club_id=club.id %}" id = "join_club_button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          <i class="fe-icon-map-pin"></i>Join club
                        </a> 

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Join {{club.name}}</h5>
                              </div>
                              <div class="modal-body text-muted">
                                <small>This club is in a different City!</small>
                              </div>
                              <div class="modal-footer">
                                <a href="{% url 'join_club' club_id=club.id %}" class="btn btn-sm btn-outline-dark">Ok</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}

                  {% elif is_applicant and not is_member %}
                      <a class="list-group-item active">
                        <b>Awaiting approval!</b>
                      </a>
                  {% endif %}
                
                  
                  <a class="list-group-item d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#owner" aria-expanded="false" aria-controls="owner">
                  <span class = "d-inline-block font-weight-medium text-uppercase ms-2"> 
                    Owner
                  </span>
                  </a>
              </nav>
              <div class="collapse" id="owner">
                <div class="card card-body mb-3 pb-0">
                  <b class= "mr-1"> <a href= {% url 'profile' club.owner.id  %}> {{club.owner.full_name}} </a></b>
                  <p>{{ club.owner.email }}</p>
                  <p>{{ club.owner.bio }}</p>
                </div>
              </div>
          </div>
      </div>
      <!-- Club Information -->
      
      <div class="col-lg-8 pb-2">
        <div class = "club-panel p-3">
          <div class="row ">
  
            <div class="col-md-6 mb-3">
              <div class="form-group">
                  <label class="mb-2" for="club-theme">Club Theme</label>
                  <input disabled readonly class="form-control" type="text" id="club-theme" value="{{club.theme}}">
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                  <label class="mb-2" for="account-confirm-pass">Meeting type</label>
                  <input disabled readonly class="form-control" type="text" id="club-meeting-type" value = "{{club.meeting_type}}">
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                  <label class="mb-2" for="club-type">Club Type</label>
                  <input disabled readonly class="form-control"  id="club-type" value="{{club.club_type}}">
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                  <label class="mb-2" for="club-setting">Club Privacy Settings</label>
                  <input disabled readonly class="form-control" type="text" id="club-setting" value = "{{club.club_type}}">
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="mb-2" for="club-city">Club City</label>
                    <input disabled readonly class="form-control" type="text" id="club-city" value="{{club.city}}" >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="mb-2" for="club-country">Club Country</label>
                    <input disabled readonly class="form-control" type="text" id="club-countryl" value="{{club.country}}">
                </div>
                <br/>
            </div>
            
          </div>
        </div>
        <hr></hr>
        <div class="row">
            {% if is_member %}
              <div class="list-group-item">
                <h4  class="mb-3">Upcoming meeting:</h4>
                <div class="card card-body  pb-0">
                  <div class = 'row'>

                      <!-- UPCOMING MEETING WITH SELECTED BOOK -->
                      {%if upcoming_meeting %}
                        <div class = "col-md-6">
                          <p>Title: {{ upcoming_meeting.title }}</p>
                          <p>Time: {{ upcoming_meeting.time }}</p>  
                          <p class="mt-2"> 
                            Link: <a href="{{upcoming_meeting.link}}"> meeting link </a>
                          </p>
                          <p>Notes: {{ upcoming_meeting.notes }}</p>
                        </div>
                        <div class = "col-md-6">
                          {% if upcoming_meeting.book %}
                            Book Title : 
                            <a href='{% url 'book_details' upcoming_meeting.book.id %}' style = "color:black;"> 
                              {{upcoming_meeting.book.title}}
                            </a>
                            <div class="profile-img">
                              <img src="{{ upcoming_meeting.book.image_url }}"  width="110" height="150" class="mt-2 mb-3"/>
                            </div>
                            <!-- UPCOMING MEETING WITHOUT A SELECTED BOOK YET -->

                          {% else %}
                            <!--BOOK CHOOSING LINK FOR MEMBER WHOSE TURN IT IS -->
                            Book:
                            {%if user != upcoming_meeting.chooser%}
                                <a> No book has been chosen yet.. </a> 

                            {% else %}
                              <a href="{% url 'choice_book_list' meeting_id=upcoming_meeting.id  %}" class="btn btn-outline-info"> 
                                Choose book
                              </a>

                            {% endif %} 
                          {% endif %}
                        </div>

                      {%else %}
                        <a class = "mb-3"> No meeting has been scheduled yet.. </a> 
                      {%endif%}
                  </div>
                </div>
              </div>
              <a class="list-group-item" href='{% url "meetings_list" club.id %}' class="btn btn-outline-dark mt-2"> more meetings </a>

            {% endif %}
        </div>
      </div>
      
      
  </div>
</div>


{% endblock %}