{% extends 'base_content.html' %}
{% block title %}{{ club.name }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
        <h2 class="d-flex justify-content-center">{{ club.name }}</h2>
        {% if user == club.owner %}
          <span>
            <!-- TODO: Add link to edit club here -->
            <a href='{% url 'edit_club' club_id=club.id %}' class="bi-pencil-square"
            style="font-size: 1.8rem; color: grey;"></a>
          </span>
        {% endif %}
        <div class="row mt-5">
          <div class="col-5">
            <h4 class="mb-3">Theme:</h4>
            <div class="card card-body mb-3 pb-0">
              <p>{{ club.theme }}</p>
            </div>
            <h4 class="mb-3">Meeting type:</h4>
            <div class="card card-body mb-3 pb-0">
              <p>{{ meeting_type }}</p>
            </div>
            <h4 class="mb-3">City:</h4>
            <div class="card card-body mb-3 pb-0">
              <p>{{ club.city }}</p>
            </div>
            <h4 class="mb-3">Country:</h4>
            <div class="card card-body mb-3 pb-0">
              <p>{{ club.country }}</p>
            </div>    
            <hr></hr>
            <button class="btn btn-dark btn-lg mb-3  text-center" type="button btn-block" data-bs-toggle="collapse"
              data-bs-target="#owner" aria-expanded="false" aria-controls="owner">
              Owner
            </button>
            <div class="collapse" id="owner">
              <div class="card card-body mb-3 pb-0">
                <p>{{ club.owner.full_name }}</p>
                <p>{{ club.owner.email }}</p>
                <p>{{ club.owner.bio }}</p>
              </div>
            </div>
          </div>
          <div class="col-2">
          </div>
          <div class="col-5">
            <div class="col-7">
              <div class="card text-center">
                <div class="card-body">
                  <a href="books/" class="btn btn-outline-dark">Book List</a>
                </div>
              </div>
              {%if is_member %}
              <div class="card text-center">
                <div class="card-body">
                  <a href='{% url 'members_list' club.id %}' class="btn btn-outline-dark"> Member List</a>  
                </div>
              </div>
              {%endif%}
              <!-- DO NOT FORGET TO ADD IF STATEMENTS-->
              <div class="card text-center">
                <div class="card-body">
                  <div class="mb-3 pb-0">
                    {% if not user == club.owner and not is_member %}
                      <a href="{% url 'join_club' club_id=club.id %}" class="btn btn-outline-success">Join club</a> 
                    {% endif %}
                  </div>
                  
                    <div class="mb-3 pb-0">
                    {% if not user == club.owner and is_member%}
                      <a href="{% url 'withdraw_club' club_id=club.id %}" class="btn btn-outline-warning">Withdraw from club</a>
                    {% endif %}   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}