{% extends 'base_content.html' %}
{% block title %} Delete club confirmation {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
    <h1>Confirm Club Deletion</h1>
    <br><br>
    <font size= "4"><strong> Are you sure you want to delete {{club.name}}? </font></strong>
    <a href="{% url 'delete_club' club_id=club_id %}" class="btn btn-outline-primary btn-sm btn-outline-danger">Yes, delete</a>
    </br></br>
    <p>
        <form method="post">
            {% csrf_token %}
            <i> Instead, you can choose to transfer ownership to a member: </i>
            <select id="selected_member" name="selected_member">
                {% for member in members %}
                <option value={{member.id}}> {{member.username}} </option>
                {% endfor %}
            </select>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="checked" id="defaultCheck" required>
                <label class="form-check-label" for="defaultCheck">
                  <i> Please confirm by checking this box </i>
                </label>
              </div>
             
            <input type="submit" class="btn btn-primary btn-sm mb-3" value="Make owner"> </br>
        </form>
    </p>
    
   
    </div>
  </div>
</div>
{% endblock %}

