{% extends 'base_content.html' %}
{% block title %} Delete club confirmation {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
    <h1>Confirm Club Deletion</h1>
    <br><br>
    <font size= "4"><strong> Are you sure you want to delete {{club.name}}? </font></strong>
    <a href="{% url 'delete_club' club_id=club_id %}" class="btn btn-outline-primary btn-sm btn-outline-danger">Yes, delete</a>
    </br></br>
    <i> Instead, you can choose to </i><i><a href="#">transfer ownership</a></i> <i> to a member</i> 
    </div>
  </div>
</div>
{% endblock %}

