{% extends 'base_content.html' %}
{% block title %}
| Edit Review
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Edit Review</h1>
      <form action='{% url 'edit_review' review_id=review_id %}' method="post">
        {% csrf_token %}
        <div>
            <div class="rate mb-2">
              <input class="rate" type="radio" name="rating" id="rating10" value="5" /><label for="rating10" title="5"></label>
              <input type="radio" name="rating" id="rating9" value="4.5" /><label for="rating9" title="4.5" class="half"></label>
              <input type="radio" name="rating" id="rating8" value="4" /><label for="rating8" title="4"></label>
              <input type="radio" name="rating" id="rating7" value="3.5" /><label for="rating7" title="3.5" class="half"></label>
              <input type="radio" name="rating" id="rating6" value="3" /><label for="rating6" title="3"></label>
              <input type="radio" name="rating" id="rating5" value="2.5" /><label for="rating5" title="2.5" class="half"></label>
              <input type="radio" name="rating" id="rating4" value="2" /><label for="rating4" title="2"></label>
              <input type="radio" name="rating" id="rating3" value="1.5" /><label for="rating3" title="1.5" class="half"></label>
              <input type="radio" name="rating" id="rating2" value="1" /><label for="rating2" title="1"></label>
              <input type="radio" name="rating" id="rating1" value="0.5" /><label for="rating1" title="0.5" class="half"></label>
            </div>  
            <textarea name="review" rows="4" class="form-control mb-3" placeholder="Write your review"></textarea> 
        <input type="submit" value="Update" class="btn btn-outline-dark">
      </form>
      <a href='{% url 'book_details' review.book.id %}' class="btn btn-outline-dark" style="color: black" >cancel</a>   
    </div>
  </div>
</div>
{% endblock %}
