{% extends 'base_content.html' %}
{% block title %}
| Edit Club Information
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Edit profile</h1>
      <form action='{% url 'edit_club' club_id=club_id %}' method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Update" class="btn btn-lg btn-outline-dark">
        <a href="{% url 'delete_club_confirmation' club_id=club_id %}" class="btn btn-lg btn-outline-danger">Delete club</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
