{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block title %} user.full_name {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            {%if is_following %}
            <h1 class="mb-3 mt-3">Following </h1>
            {%else%}
            <h1 class="mb-3 mt-3">Followers </h1>
            {%endif%}
            <table class="table table-bordered" id="followTable">
                <thead>
                {% if follow_list %}
                <tr style="background-color: white">
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Username</th>
                </tr>
                </thead>
                    {% for user in follow_list %}
                        <tr style="background-color: white">
                            
                            <td> <a href='{% url 'profile' user.id %}' class="btn btn-outline-secondary" style="color: grey" > {{ user.full_name }}</a>  </td>
                            
                            <td> 
                                <p>{{user.username}}</p>  
                            </td>
                    
                             <td> 
                                {% if user != current_user %}
                                {% if is_following %}
                                  <a href="{% url 'follow_toggle' user_id=user.id  %}" class="btn btn-secondary">Unfollow</a> 
                                {% else %}
                                <a href="{% url 'follow_toggle' user_id=user.id  %}" class="btn btn-primary">Follow</a> 
                                {% endif %}
                              {% endif %} 
                            </td>
                           
                        </tr>
                    {% endfor %}
            </table>
            <ul class="pagination justify-content-center">
      {% bootstrap_paginate follow_list show_prev_next="false"  show_first_last="true" range=5  %}
            </ul>
            {% else %}
                {%if is_following %}
                <h5 class="mb-3 mt-3"> {{ user.full_name }} is not following anyone</h1>
                {%else%}
                <h5 class="mb-3 mt-3"> {{ user.full_name }} does not have any followers yet </h1>
                {%endif%}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}