{% extends 'base_content.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div id = "home-image">
  <div class="container vh-100 ">
    <div class="row-1 h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card mb-2">
          <p class="cover-text">Be a book club leader now!</p>
          <p>
            <a href='{% url 'create_club' %}' class="btn btn-lg btn-secondary">
              Create club
            </a>
        </div>
        <div class="card cover-card mb-2">
          <p class="cover-text"> Add your favourite books here!</p>
          <p>
            <a href='{% url 'add_book' %}' class="btn btn-lg btn-secondary">
              add book
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
