{% extends 'base_content.html' %}
{% load static %}
{% block title %}
| Home
{% endblock %}
{% block content %} 
    

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <h1 class="fw-light bg-purple center" style="text-align: center;">Welcome {{user.first_name}}</h1>
    <div class="carousel-inner" style="top: -8px;">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#faf3ee"/>
          <image width="100%" height="100%"  xlink:href="{% static '/images/welcome_page.png' %}"  />
    
        </svg>
          <div class="container">
          <div class="carousel-caption">
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#64505a"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Add your favourite books here!</h1>
            <p>We're missing a book? Add it here</p>
            <p><a class="btn btn-lg btn-dark" href='{% url 'add_book' %}'>Add Book</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%"  xmlns="http://www.w3.org/2000/svg"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">  <rect width="100%" height="100%" fill="#dac3c3"/>  </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1> Be a book club leader now!</h1>
            <p>Say hello to a better book club experince!</p>
            <p><a class="btn btn-lg btn-dark"  href='{% url 'create_club' %}'> Create Club</a></p>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container marketing">

    <div class="row">
      {%for book in books%}
      <div class="col-lg-4">
        <img width="140" height="200"  src="{{ book.image_url }}"</img>

        <p class="mt-4"style=" display: -webkit-box; max-width: 350px; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;  font-style: italic; font-size: 25px;">{{book.title}}</p>
        <p style=" display: -webkit-box; max-width: 300px; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;  font-style: italic; font-size: 15px;">{{book.description}}</p>
        <p><a class="btn btn-dark" href='{% url 'book_details' book.id %}'>View details &raquo;</a></p>
      </div>
      {%endfor%}
    </div>



   
    <hr class="featurette-divider">
    <div class="row g-20">
      <div class="col-md-8">
        
        <h1>Feed</h1>
            {% include 'partials/events_as_table.html' with user_events=user_events%}
      </div>
      <div class="col-md-4">
        <div class="position-sticky" style="top: 10rem;">
          <div class="p-4 mb-3 bg-light-blue rounded">
            <h4 class="fst-italic">Club Updates</h4>
            {% include 'partials/events_as_list.html' with club_events=club_events%}
          </div>
        </div>
      </div>
    </div>
    
    </div>
  </div>

 

  </div>


{% endblock %}
