{% extends 'base.html' %}
{% block title %}
| Trending Now 
{% endblock %}
{% block body %}

<div style="background-color:black; height:100vh">

<div class="container">
    <div class="row py-md-5">
        <div class="col mx-auto">
          <h1 class="fw-light center text-white" style="text-align: center;">Genres </h1>
          <p class="lead text-center " style="color:white;"> Tell us what genres you enjoy to help us give you insightful recommendations </p>
        </div>
    </div>

    <div class="col-sm-8 mx-auto text-center text-white">
        <p class="lead text-center " style="color:white;"> Select your favourtie </p>

        <form method=GET action="{% url 'initial_book_list'%}">
            {% for genre in genres %}
                <label id="genre-label" style="font-size: 20px">
                    <input type="checkbox" name="genre" value={{genre}}>
                    <span class="y">{{genre}}</span>
                    <span class="n">{{genre}}</span>
                </label>
            {% endfor %}
    </div>
            <br>

            <div class="text-center">
                {% include 'partials/bootstrap_form.html' with form=form %}
                <button class="btn btn-outline-light" type="submit" style="align:center;  "> Continue </button>
            </div>
        </form>
</div>
</div>


{% endblock %}

