{% extends 'base.html' %}
{% block body %}

<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light center" style="text-align: center;">Trending now ...</h1>
         <p class="lead text-muted"> Tell us what titles you enjoy to help us give you insightful recommendations!</p>
         <p class="lead text-muted text-center"> You need to add atleast one book in your list</p>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for book in my_books %}
            <div class="col-sm-6 col-md-3">
                <div class="profile-card">
                    <div class="profile-img">
                        <img src= "{{ book.image_url }}" />
                    </div>
                    <div class="profile-content">
                        <h2 class="title">{{ book.title }}
                            <span>{{ book.author }}</span>
                        </h2>
                        <ul class="social-link">
                            <span>
                                <a href=# class="bi bi-plus-square-fill"
                                style="font-size: 1.8rem; color: black;"></a>
                            </span>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto text-center">
        {%if list_length == 0 %}
        <a href="#" class="btn btn-outline-dark mb-3 disabled" role="button" aria-disabled="true">Continue2</a>
    {% else %}
        <a href={% url 'home' %} class="btn btn-outline-dark mb-3 " role="button" >Continue</a>
    {% endif %}
    </div>
</div>
{% endblock %} 