{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for book in books %}
            <div class="col-sm-6 col-md-3">
                <div class="profile-card">
                    <div class="profile-img">
                        <img src= "{{ book.image_url }}" />
                    </div>
                    <div class="profile-content">
                        <h2 class="title">{{ book.title }}
                            <span>{{ book.author }}</span>
                        </h2>
                        <ul class="social-link">
                            <span>
                                <a href=# class="bi bi-plus-square-fill"
                                style="font-size: 1.8rem; color: black;"></a>
                            </span>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 