{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block title %}
| Meetings 
{% endblock %}
{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-3 mt-3">Meetings of {{club.name}} club </h1> 
            {%if is_previous %}
                <a href='{% url "meetings_list" club.id %}' class="btn btn-outline-dark mt-2"> Upcoming meetings </a> 
            {%else %}
                <a href='{% url "previous_meetings_list" club.id %}' class="btn btn-outline-dark mt-2 mb-1"> Previous meetings </a>
            {%endif%}
            {%if meetings_list %}
                {%include 'partials/meetings_information_table.html' with meetings_list=meetings_list is_previous=is_previous user=user %}
            <ul class="pagination justify-content-center">
                {% bootstrap_paginate meetings_list show_prev_next="false"  show_first_last="true" range=5  %}
            </ul>
            {%else%}
                {%if is_previous %}
                <h1 class = "mt-3"> 
                    There are no previous meetings 
                 </h1>
                {%else%}
                <h1 class = "mt-3"> 
                   There are no scheduled meetings 
                </h1>
                {% endif %}
            {%endif%}
        </div>
    </div>
</div>  
{% endblock %}