{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block title %}
| Profile
{% endblock %}
{% block content %}

<div class="ui-bg-cover ui-bg-overlay-container text-white" style="background-color: #64505a">
    <div class="ui-bg-overlay bg-dark-purple opacity-25"></div>
    <div class="row">
        <div class="container">
            <div class= "text-center py-3">
                <img src="{{ user.gravatar }}" alt="Gravatar of {{ user.username }}" class="ui-w-100 rounded-circle">

                <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
                    <div class =  "text-center name-and-edit">
                        <h3 class=" user-name font-weight-bold my-4">{{ user.full_name }}</h3>
                        &emsp;
                        {% if current_user == user %}
                            <a class = "edit-pencil text-white bi-pencil-square" href ="{% url 'edit_profile'%}"  ></a>
                        {% endif %}

                    </div>
                    <div class="opacity-75 mb-3">
                        <span class = "profile-username">{{user.username}}</span>
                        {% if current_user == user %}
                        <br/>
                            <span class = "profile-email">{{user.email}}</span>
                        {% endif %}
                    </div>
                    <div class="opacity-60 mb-2"> 
                            {% if user.age %}
                                <span class="profile-statistics">Age: </span>
                                <span class = "profile-statistics-item">{{user.age}}</span>
                            {% endif %}
                            &emsp;
                            {% if user.location %}
                                <span class="profile-statistics">Location:</span>
                                <span class = "profile-statistics-item">{{user.location}}</span>
                            {% endif %}
                    </div>
                    <div class="bio-text pt-2 pb-4 opacity-75">
                        {% if user.bio %}
                            <span>{{user.bio}}</span> 
                        {% endif %}
                    </div>  
                </div>
                <div class="text-center pt-2 pb-1.7">
                    <a href="{% url 'following_list' user_id=user.id %}"  class = "d-inline-block text-white"> {{ user.followee_count }}  <span class= "opacity-75">following</span></a>
                    &emsp;
                    <a href="{% url 'followers_list' user_id=user.id %}" class = "d-inline-block text-white" > {{ user.follower_count }} <span class="opacity-75">followers</span></a>
                    &emsp;
                    <div class="float d-inline-flex">
                        {% if followable %}
                            {% if following %}
                                <a href="{% url 'follow_toggle' user_id=user.id  %}" class=" profile-statistics btn btn-secondary text-white"> Unfollow </a> 
                            {% else %}
                                <a href="{% url 'follow_toggle' user_id=user.id  %}" class=" profile-statistics btn  bg-light-blue opacity-100 text-white"> Follow </a> 
                            {% endif %}
                        {% endif %}
                    </div> 
                </div> 
            </div> 
        </div> 
        <div class="ui-bg-overlay-container">
            <div class="ui-bg-overlay bg-light-pink opacity-60"></div>
            <ul class="nav nav-tabs tabs-alt justify-content-center d-flex border-transparent">
                <li class="nav-item">
                    <a class="nav-link text-white py-3 pr-2" href = '{% url 'profile_reading_list' user.id %}'> Reading lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-3 pr-2 " href = '{% url 'profile_clubs' user.id %}'>Clubs</a>
                </li>
            </ul>
        </div>
    </div>
    <div class = "row vh-100" style="background-color: #faf3ee ">
        <div class = "col-12">
            <div class=" ui-bg-cover ui-bg-overlay-container text-black" >
                <div class="ui-bg-overlay bg-light-whitish opacity-75"></div>
                <div class="container text-center">
                    <br/>
                    {% if is_clubs is True %}
                        {% if items_count != 0 %}
                            {% include 'partials/clubs_list.html' with clubs=items %}
                            <br/>
                            <ul class="pagination justify-content-center">
                                {% bootstrap_paginate items show_prev_next="false"  show_first_last="true" range=5  %}
                            </ul>
                        {% else %}
                            <h2 style = "font-size:3vw mt-1">No Clubs joined!</h2>
                        {% endif %}
                    {% elif is_clubs is False %}
                        {% if items_count != 0  %}
                            {%  include 'partials/books_list.html' with books=items %}
                            <br/>
                            <ul class="pagination justify-content-center">
                                {% bootstrap_paginate items show_prev_next="false"  show_first_last="true" range=5  %}
                            </ul>
                        {% else %}
                            <h2 class = "pt-1" style = "font-size:2.5vw"> Reading list is empty!</h2>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}