{% extends 'base_content.html' %}
{% block title %}
| Profile
{% endblock %}
{% block content %}
<div class="ui-bg-cover ui-bg-overlay-container text-white" style="background-color: #324655">
    <div class="ui-bg-overlay bg-blue opacity-50"></div>
    <div class="container">
        <div class= "text-center py-5">
            <img src="{{ user.gravatar }}" alt="Gravatar of {{ user.username }}" class="ui-w-100 rounded-circle">

            <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
                <div class =  "text-center name-and-edit">
                    <h3 class="font-weight-bold my-4">{{ user.full_name }}</h3>
                    &emsp;
                    {% if current_user == user %}
                        <a class = "edit-pencil text-white bi-pencil-square" href ="{% url 'edit_profile'%}"></a>
                    {% endif %}
                </div>

                <div class="opacity-75 mb-2">
                    <span class = "profile-username">{{user.username}}</span>
                    &emsp;
                    {% if current_user == user%}
                        <span class = "profile-email">{{user.email}}</span>
                    {% endif %}
                </div>
                <div class="opacity-60- mb-2"> 
                        {% if user.age %}
                            <span class="profile-statistics">Age: </span>
                            <span class = "profile-statistics-item">{{user.age}}</span>
                        {% endif %}
                        &emsp;
                        {% if user.location %}
                            <span class="profile-statistics">Location:</span>
                            <span class = "profile-statistics-item">{{user.location}}</span>
                        {% endif %}
                </div>
                <div class="bio-text pt-2 pb-4 opacity-75 ">
                    {% if user.bio %}
                        <span >{{user.bio}}</span> 
                    {% endif %}
                </div>  
            </div>
            <div class="text-center">
                <a href="{% url 'following_list' user_id=user.id %}" class="d-inline-block text-white"> {{ user.followee_count }}  <span class="opacity-75">following</span></a>
                &emsp;
                  <a href="{% url 'followers_list' user_id=user.id %}" class="d-inline-block text-white"> {{ user.follower_count }} <span class="opacity-75">followers</span></a>
                  &emsp;
                <span class="float">
                    {% if followable %}
                        {% if following %}
                            <a href="{% url 'follow_toggle' user_id=user.id  %}" class="btn btn-secondary">Unfollow</a> 
                        {% else %}
                            <a href="{% url 'follow_toggle' user_id=user.id  %}" class="btn btn-primary" >Follow</a> 
                        {% endif %}
                    {% endif %}
                </span>
            </div>
        </div> 
      </div>
    </div>

    <div class="ui-bg-overlay-container">
      <div class="ui-bg-overlay bg-blue opacity-75"></div>
      <ul class="nav nav-tabs tabs-alt justify-content-center d-flex border-transparent">
        <li class="nav-item">
          <a class="nav-link text-white py-4 active pr-3" href = '{% url 'books_list' user.id %}' >Reading lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white py-4 pr-3 " href = '{% url 'clubs_list' user.id %}'>Clubs</a>
        </li>
      </ul>
    </div>
  </div>
     
{% endblock %}
