{% extends 'base_content.html' %}
{% block title %}{{ club.name }}{% endblock %}
{% block content %}
{% if user == club.owner %}
{% comment %} <form action="{% url 'transfer_ownership' %}" method="post"> {% endcomment %}
<form method="post">
    {% csrf_token %}
    <select id="selected_member" name="selected_member">
        {% for member in memberlist %}
        <option value={{member.id}}> {{member.username}} </option>
        {% endfor %}
    </select>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="checked" id="defaultCheck" required>
        <label class="form-check-label" for="defaultCheck">
          Please confirm by checking this box
        </label>
      </div>
    <input type="submit" class="btn btn-primary mb-3" value="Save" id="submit">
</form>
{% endif %}
{% endblock %}