{% extends 'base.html' %}
{% block body %}
<div id = "cover-image">
  <div class="container vh-100 ">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card cover-card-block offset-sm-0 offset-md-0 offset-lg-0">
          <h1 class="cover-heading">Ordinaries</h1>
          <h2 class="cover-heading">Welcome</h2>
          <p class="cover-text"> Become part of the ordinaries family</p>
          <p>
            <a href='#' class="btn btn-lg btn-secondary">
              Sign up
            </a>
          </p>
          <p>
            <a href='#' class="btn btn-lg btn-secondary">
              Log in 
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
