{% extends 'base.html' %}
{% block title %}
| Ordinaries
{% endblock %}
{% block body %}

<div id = "welcome-image" class = "bg obj-fit-cover">
  <br>
  <br>
  <div class="container vh-100 ms-2">
      <div class="row h-100 ">
          <div class="col-lg-5 col-md-6 col-ms-12 justify-content-center">
                <div class="card-welcome py-5 fadein ">
                    <div class="card-body text-center">
                      <div class = "slide-left">
                        <h2 class="cover-heading">Welcome!</h2>
                        <p class="cover-text text-overflow: elipsis; text-muted"> Become part of the ordinaries' family</p>
                      </div>                        
                      <p class="pe-3 py-4 slide-up">
                        <a href='{% url 'sign_up' %}' class="btn btn-lg btn btn-outline-light bg-purple">
                          Sign up
                        </a>
                        <a href='{% url 'log_in' %}' class="btn btn-lg btn-outline-light bg-purple ">
                          Log in 
                        </a>
                      </p>
                    </div>
                </div>
        </div>
    </div>
  </div>
  <br/>
  <br/>
</div>

{% endblock %}