{% extends 'base.html' %}
{% block body %}
<div id = "cover-image">
  <div class="container vh-100 ">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <h1 class="cover-heading">Ordinaries</h1>
        <div class="card cover-card">
          <h2 class="cover-heading">Welcome!</h2>
          <p class="cover-text"> Become part of the ordinaries' family</p>
          <p>
            <a href='#' class="btn btn-lg btn-secondary">
              Sign up
            </a>
            <a href='log_in' class="btn btn-lg btn-secondary">
              Log in 
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
