{% extends 'base.html' %}
{% block body %}
<div class="p-0 bg-img cover-background " alt="404 background">
  <div class="container vh-100 ">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card">
          {% if user %}
          <h2 class="cover-heading">The link has expired</h2>
          {% else %}
          <h2 class="cover-heading">The link is invalid</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
