/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

#welcome-image {
  background: url(images/welcome.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#home-image {
  background: url(images/home.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#login-image {
  background: url(images/log_in.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
}

h2.cover-heading {
  font-size: 2rem;
}

p.cover-text {
  font-size: 1.3rem;
}

.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}

.cover-card-block {
  opacity: 10
}


/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-left: 150px;
  margin-right:1px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
  margin-left: 30px;
  margin-right:1px
}

.profile-email {
  display: block;
  padding-right: 0px;
  margin-left: 150px;
}

.profile-bio {
  font-size: 1.1rem;
}

.profile-statistics {
  color: #777777;
  font-weight: 300;
  display: block;
}

.profile-statistics-item {
  display: block;
  padding-right: 50px;
}

/*
 * Post
 */
.post-author {
  margin-bottom: 0px;

}

.post-author-fullname {
  font-weight: bold;
}

.post-author-user-details {
  margin-left: 10px;
  color: #777777;
}

/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}

.post-author a {
  text-decoration: none;
  color: black;
}
.post-author a:hover {
  text-decoration: underline;
  color: black;
}


/* Hide Radio button */
.rate > input{
  display: none;
}

.rate{
  display: inline-block;;
  border: 0;
}

.rate > label{
  float: right;
}

/* Showing the stars */
.rate > label:before{
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin:0;
  padding:0.3rem .2rem;
  cursor: pointer;
}

/* Half star */
.rate .half:before{
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

/* Click and hover */
input:checked ~ label, label:hover ~ label{
  color: #ffb503;
}

/* hover hightlight */
input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
  color: #cc9000;
}

.rating-star i{
  color: #ffb503 !important;
}

.profile-card{
    position:relative;
    overflow: hidden;
    margin-bottom:10px;
    box-shadow:0px 2px 3px #222;
    top:150px;
}

.profile-card:hover .profile-img img
{
    transform: scale(1.2);
}

.profile-card .profile-img img{
    width:260px;
    height: 400px;;
    transition: transform 1s;
}

.profile-card .profile-content::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:40%;
    border:3px solid #333;
    border-right:3px solid transparent;
    border-bottom:3px solid transparent;
    transform: scale(1,1);
    transition: all 0.50s linear;
}

.profile-card .profile-content::after{
    content: "";
    position:absolute;
    bottom:0;
    right:0;
    width:50%;
    height:40%;
    border:3px solid #222;
    border-left:3px solid transparent;
    border-top:3px solid transparent;
    transition: all 0.50s linear;
    
}

.profile-card:hover .profile-content:before{
    top:20px;
    left:20px;
}

.profile-card:hover .profile-content:after{
    bottom:20px;
    right:20px;
}

.profile-card .profile-content{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:50% 4%;
    text-align: center;
    
}

.profile-card .profile-content:hover{
    background-color: rgba(136, 153, 253, 0.466);
}

.profile-card .profile-content .title{
    font-size:24px;
    color:#333;
    opacity:0;
    letter-spacing:2px;
    text-transform:uppercase;
    transform: translateY(-100px);
    transition:all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}

.profile-card:hover .title{
    opacity:1;
    transform: translateY(0);
}

.profile-card:hover .title::after{
    content:"";
    display:block;
    width:50%;
    margin:10px auto;
    border-bottom:2px solid #222;
}

.profile-card .profile-content .title > span{
    display:block;
    margin:5px 0;
    font-size: 14px;
    text-transform: capitalize;
}

.profile-card .profile-content .social-link{
    margin:20px 0;
    padding:0;
    opacity:0;
    transform: translateY(100px);
    transition:all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}

.profile-card:hover .social-link{
    opacity:1;
    transform: translateY(0);
}

.profile-card .profile-content .social-link {
    display: inline-block;
    list-style: none;
    margin:0 4px;
}

.profile-card .profile-content .social-link  a{
    color:#333;
    width:30px;
    height:25px;
    line-height:24px;
    text-align: center;
    border-radius:5px;   
} 

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}



.featurette-divider {
  margin: 5rem 0; 
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body{
  margin-top:20px;
  background:#eee;
}
.row.row-broken {
  padding-bottom: 0;
}
.col-inside-lg {
  padding: 20px;
}
.chat {
  height: calc(100vh - 180px);
}
.decor-default {
  background-color: #ffffff;
}
.chat-users h6 {
  font-size: 20px;
  margin: 0 0 20px;
}
.chat-users .user {
  position: relative;
  padding: 0 0 0 50px;
  display: block;
  cursor: pointer;
  margin: 0 0 20px;
}
.chat-users .user .avatar {
  top: 0;
  left: 0;
}
.chat .avatar {
  width: 40px;
  height: 40px;
  position: absolute;
}
.chat .avatar img {
  display: block;
  border-radius: 20px;
  height: 100%;
}
.chat .avatar .status.off {
  border: 1px solid #5a5a5a;
  background: #ffffff;
}
.chat .avatar .status.online {
  background: #4caf50;
}
.chat .avatar .status.busy {
  background: #ffc107;
}
.chat .avatar .status.offline {
  background: #ed4e6e;
}
.chat-users .user .status {
  bottom: 0;
  left: 28px;
}
.chat .avatar .status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
}
.chat-users .user .name {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-users .user .mood {
  font: 200 14px/20px "Raleway", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*****************CHAT BODY *******************/
.chat-body h6 {
  font-size: 20px;
  margin: 0 0 20px;
}
.chat-body .answer.left {
  padding: 0 0 0 58px;
  text-align: left;
  float: left;
}
.chat-body .answer {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  clear: both;
}
.chat-body .answer.left .avatar {
  left: 0;
}
.chat-body .answer .avatar {
  bottom: 36px;
}
.chat .avatar {
  width: 40px;
  height: 40px;
  position: absolute;
}
.chat .avatar img {
  display: block;
  border-radius: 20px;
  height: 100%;
}
.chat-body .answer .name {
  font-size: 14px;
  line-height: 36px;
}
.chat-body .answer.left .avatar .status {
  right: 4px;
}
.chat-body .answer .avatar .status {
  bottom: 0;
}
.chat-body .answer.left .text {
  background: #ebebeb;
  color: #333333;
  border-radius: 8px 8px 8px 0;
}
.chat-body .answer .text {
  padding: 12px;
  font-size: 16px;
  line-height: 26px;
  position: relative;
}
.chat-body .answer.left .text:before {
  left: -30px;
  border-right-color: #ebebeb;
  border-right-width: 12px;
}
.chat-body .answer .text:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  border: 18px solid transparent;
  border-bottom-width: 0;
}
.chat-body .answer.left .time {
  padding-left: 12px;
  color: #333333;
}
.chat-body .answer .time {
  font-size: 16px;
  line-height: 36px;
  position: relative;
  padding-bottom: 1px;
}
/*RIGHT*/
.chat-body .answer.right {
  padding: 0 58px 0 0;
  text-align: right;
  float: right;
}

.chat-body .answer.right .avatar {
  right: 0;
}
.chat-body .answer.right .avatar .status {
  left: 4px;
}
.chat-body .answer.right .text {
  background: #7266ba;
  color: #ffffff;
  border-radius: 8px 8px 0 8px;
}
.chat-body .answer.right .text:before {
  right: -30px;
  border-left-color: #7266ba;
  border-left-width: 12px;
}
.chat-body .answer.right .time {
  padding-right: 12px;
  color: #333333;
}

/**************ADD FORM ***************/
.chat-body .answer-add {
  clear: both;
  position: relative;
  margin: 20px -20px -20px;
  padding: 20px;
  background: #46be8a;
}
.chat-body .answer-add input {
  border: none;
  background: none;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  color: #ffffff;
}
.chat input {
  -webkit-appearance: none;
  border-radius: 0;
}
.chat-body .answer-add .answer-btn-1 {
  background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-40.png") 50% 50% no-repeat;
  right: 56px;
}
.chat-body .answer-add .answer-btn {
  display: block;
  cursor: pointer;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
}
.chat-body .answer-add .answer-btn-2 {
  background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-41.png") 50% 50% no-repeat;
  right: 20px;
}
.chat input::-webkit-input-placeholder {
 color: #fff;
}

.chat input:-moz-placeholder { /* Firefox 18- */
 color: #fff;  
}

.chat input::-moz-placeholder {  /* Firefox 19+ */
 color: #fff;  
}

.chat input:-ms-input-placeholder {  
 color: #fff;  
}
.chat input {
  -webkit-appearance: none;
  border-radius: 0;
}