.club-details-card-avatar{
  background-image: url(images/3.png);

}

.club-details-card {
position: relative;
padding-bottom: 48px;
background-color: #fff;
box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.club-details-card .club-details-card-cover {
  position: relative;
  background-image: url(images/clubPageCover.png);
  width: 100%;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.club-details-card .club-details-card-profile {
display: table;
position: relative;
margin-top: -22px;
padding-right: 15px;
padding-bottom: 16px;
padding-left: 20px;
z-index: 5;
}

.club-details-card .club-details-card-profile .club-details-card-avatar, .club-details-card .club-details-card-profile .club-details-card-details {
display: table-cell;
vertical-align: middle;
}
.club-details-card .club-details-card-profile .club-details-card-avatar {
width: 85px;
border-radius: 50%;
box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
overflow: hidden;
}
.club-details-card .club-details-card-profile .club-details-card-avatar > img {
display: block;
width: 100%;
}
.club-details-card .club-details-card-profile .club-details-card-details {
padding-top: 20px;
padding-left: 15px;
}



.list-group-item i {
  display: inline-block;
  margin-top: -1px;
  margin-right: 8px;
  font-size: 1.2em;
  vertical-align: middle;
}
.mr-1, .mx-1 {
  margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
  border-color: #e7e7e7;
  background: #fff;
  color: #284664;
  cursor: default;
  pointer-events: none;
}


.list-group-item {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #404040;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .4px;
  text-transform: uppercase;
  text-decoration: none;
}

/* .list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.125);
} */

.list-group-item.active:not(.disabled)::before {
  background-color: #284664;
}

.list-group-item::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: transparent;
  content: '';
}

.club-panel{
  background-color: #284664;
  padding: 10px 20px 10px 20px;
  color: #fff;
}






/* Colours */

.bg-light-pink {
  background-color: #dac3c3 ;
}

.bg-dark-purple{
  background-color: #301934;
}

.bg-purple{
  background-color: #64505a;
}


.bg-light-whitish {
  background-color: #eceae8;
}

.bg-light-blue{
  background-color: #74a5b4;
}

.bg-blue{
  background-color: #284664;
}

.bg-dark-blue{
  background-color: #324655;
}

/*
 * Alerts
 */

  .alert {
  border-radius: 0px;
}

/*
  * Welcome page
*/

.card-welcome {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 25rem;
  border: none;
  opacity: 0.25;
}



/* 
* Welcome animation
*/

.slide-left {
  width: 300%;
  margin-left: 100px;
  max-width: 300px
}

.slide-left {
  animation: 2s slide-left 0s forwards;
    transform:translateX(110%);
}

@keyframes slide-left {
  to {
    transform:translateX(-30%);
  }
}

.slide-up {
  height: 300%;
  margin-top: 15px;
  max-height:20px
}

.slide-up a {
  animation: 1.5s slide-up 0s forwards;
  transform:translateY(1000%);
}

@keyframes slide-up {
  to {
    transform:translateY(-10%);
  }
}   



/*
 * Cover page
*/

.content {
  padding-top: 10px;
}

#welcome-image {
  background: url(images/welcomepage.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#home-image {
  background: url(images/home.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#login-image {
  background: url(images/login.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
  display: flex;
  align-items: center;
}



/* 
* Sign up page
*/

body {
    background: #f6f9fc;
}
.account-block {
    padding: 0;
    background-image: url(images/signupgradient.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff; 
    height: 100%;
    position: relative;
}

.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}
.text-theme {
    color: #64505a !important;
    font-size: 32px;
}



/*
 * Cover page
*/

.fadein{
    animation: fadein 2s linear forwards;
    -webkit-animation: fadein 2s linear forwards;
 }
@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h1.cover-heading {
  font-size: 4rem;
  text-align: start;
}

h2.cover-heading {
  font-size: 2rem;
  margin-left: 0px;
}

p.cover-text {
  font-size: 1.3rem;
}

.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 25rem;
  padding: 27px 20px;
  border-radius: 12px;
  text-align:start;
}

.cover-card-block {
  opacity: 10;
}



/*
 * forms
*/

.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



/*
* 404 page not found
*/
.cover-background {
    background-image: url(images/gradient5.jpg);
    position: relative ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden ;
    background-position: center;
    background-repeat: no-repeat ;
}
.p-0 {
    padding: 0!important;
}
section {
    padding: 100px 0;
    overflow: hidden;
    background: #fff;
}

.error-page {
    background-color: #BABABA4A;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(234,234,235,0.2);
    padding: 60px 20px;
    bottom: 4rem;
    right: 0;
    left: 0;
    top: 0;
}
.text-center {
    text-align: center;
}
.error-page h1 {
    font-size: 200px;
    line-height: 1;
    font-weight: 600;
}
.text-secondary {
    color: #15395A !important;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}

/*
* BOOK PAGE
*/
.book-nav{
  margin-top:3rem;   
}

.book-info{
  margin-top: 10rem;
}

.book-heading img {
  margin-top: -20px;
}
p.genre-overflow{
  overflow-wrap: break-word;
  
}
.bio-graph-heading {
  background: #284664;
  color: #fff;
  padding: 40px 10px 30px 19px;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0 0;
  font-size: 16px;
  font-weight: 300;
}
.bio-row {
  width: 50%;
  float: left;
  display: inline-flex;
}
.centered {
  justify-content: space-evenly;
}
.bio-row h4{
  font-size: 20px;
}
.bio-graph-info {
  color: #25211e;
}

.bio-graph-info h4 {
  font-size: 2rem;
  font-weight: 200;
}

.bio-chart{
  float: left;
  width: 40%;
  border: #284664;
  margin-left: 30px;
  margin-right: -30px;
}

.bio-desk{
  float: left;
  width: 40%;
  border: #284664;
  padding: 0px 0px;
}

.canvas-statistics{
  background: #284664;
  color: #fff;
  padding: 0px 0px;
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0 0;
}

.count-canvas{
  width: 54px; 
  height: 33px; 
  position: absolute; 
  vertical-align: middle; 
  margin-top: 33px; 
  margin-left: -77px; 
  border: 0px; 
  font-weight: bold; 
  font-style: normal; 
  font-variant: normal; 
  font-stretch: normal; 
  font-size: 20px; 
  line-height: normal; 
  -webkit-appearance: none; 
  background: none;
}



/*Links*/

/* selected link */
a{
  color: rgb(47, 69, 98);
}

/* mouse over link */
a:hover {
  color:rgb(214, 196, 195);
}

a:link {
  text-decoration: none;
}

/*
* PROFILE PAGE
*/

.name-and-edit {
  display:inline-flex;
}

.edit-pencil{
  display: inline-flex;
  align-items: center;
  border: bottom 0px;
  font-size: 25px;
}

.user-name{
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  padding-left:30px;
  color: white
}

.text-white {
  color: #fff;
}
.ui-bg-overlay-container, .ui-bg-video-container {
  position: relative;
}
.ui-bg-cover {
  background-color: transparent;
  background-position: center center;
  background-size: cover;
}
.ui-bg-overlay-container .ui-bg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.opacity-50 {
  opacity: .5;
}


.ui-bg-overlay-container>*, .ui-bg-video-container>* {
  position: relative;
}
@media (min-width: 992px){
  .container, .container-fluid {
      padding-right: 2rem;
      padding-left: 2rem;
  }
}
.media, .media>:not(.media-body), .jumbotron, .card {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
  -ms-flex-negative: 2;
  flex-shrink: 1;
}
.ui-w-100 {
  width: 100px ;
  height: auto;
}
.font-weight-bold {
  font-weight: 700 ;
}
.opacity-75 {
  opacity: .75 ;
}

.opacity-60{
  opacity: 0.6;
}

.profile-statistics {
  font-weight: 300;
  color: white;
  opacity: 0.75;
}

.profile-statistics-item {
  font-weight: 400;
}

.bio-text{
  text-overflow: ellipsis;
}


/*
* Profile nav-bar 
*/

.tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:hover, .tabs-alt.nav-tabs .nav-link.active:focus, .tabs-alt>.nav-tabs .nav-link.active, .tabs-alt>.nav-tabs .nav-link.active:hover, .tabs-alt>.nav-tabs .nav-link.active:focus {
  -webkit-box-shadow: 0 -2px 0 #324655 inset;
  box-shadow: 0 -2px 0 #324655 inset;
}

.nav-tabs:not(.nav-fill):not(.nav-justified) .nav-link, .nav-pills:not(.nav-fill):not(.nav-justified) .nav-link {
  margin-right: .125rem;
}
.nav-tabs.tabs-alt .nav-link, .tabs-alt>.nav-tabs .nav-link {
  border-width: 0 ;
  border-radius: 0 ;
  background-color: transparent ;
}

.nav-tabs .nav-link.active {
  border-bottom-color: #fff;
}


/*
 * Typefaces
*/
.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}


/*
 * Post
*/

.post-author {
  margin-bottom: 0px;

}

.post-author-fullname {
  font-weight: bold;
}

.post-author-user-details {
  margin-left: 10px;
  color: #777777;
}

/*
 * Hyperlinks
*/

.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}

.post-author a {
  text-decoration: none;
  color: black;
}
.post-author a:hover {
  text-decoration: underline;
  color: black;
}


/* Hide Radio button  */
.rate > input{
  display: none;
}

.rate{
  display: inline-block;;
  border: 0;
}

.rate > label{
  float: right;
}


/* Showing the stars */
.rate > label:before{
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin:0;
  padding:0.3rem .2rem;
  cursor: pointer;
}


/* Half star */
.rate .half:before{
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

 /* Click and hover */
input:checked ~ label, label:hover ~ label{
  color: #ffb503;
}

/* hover hightlight */
input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
  color: #cc9000;
}

.rating-star i{
  color: #ffb503 !important;
}

.profile-card{
    position:relative;
    overflow: hidden;
    margin-bottom:10px;
    box-shadow:0px 2px 3px #222;
    top:60px;
}

.profile-card:hover .profile-img img
{
    transform: scale(1.2);
}

.profile-card .profile-img img{
    width:260px;
    height: 400px;;
    transition: transform 1s;
}

.profile-card .profile-content::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:40%;
    border:3px solid #333;
    border-right:3px solid transparent;
    border-bottom:3px solid transparent;
    transform: scale(1,1);
    transition: all 0.50s linear;
}

.profile-card .profile-content::after{
    content: "";
    position:absolute;
    bottom:0;
    right:0;
    width:50%;
    height:40%;
    border:3px solid #222;
    border-left:3px solid transparent;
    border-top:3px solid transparent;
    transition: all 0.50s linear;
    
}

.profile-card:hover .profile-content:before{
    top:20px;
    left:20px;
}

.profile-card:hover .profile-content:after{
    bottom:20px;
    right:20px;
}

.profile-card .profile-content{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:50% 4%;
    text-align: center;
    
}

.profile-card .profile-content:hover{
    background-color: rgba(60, 105, 151, 0.644);
}

.profile-card .profile-content .title{
    font-size:24px;
    color:#333;
    opacity:0;
    letter-spacing:2px;
    text-transform:uppercase;
    transform: translateY(-100px);
    transition:all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}

.profile-card:hover .title{
    opacity:1;
    transform: translateY(0);
}

.profile-card:hover .title::after{
    content:"";
    display:block;
    width:50%;
    margin:10px auto;
    border-bottom:2px solid #222;
}

.profile-card .profile-content .title > span{
    display:block;
    margin:5px 0;
    font-size: 14px;
    text-transform: capitalize;
}

.profile-card .profile-content .social-link{
    margin:20px 0;
    padding:0;
    opacity:0;
    transform: translateY(100px);
    transition:all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}

.profile-card:hover .social-link{
    opacity:1;
    transform: translateY(0);
}

.profile-card .profile-content .social-link {
    display: inline-block;
    list-style: none;
    margin:0 4px;
}


.profile-card .profile-content .social-link  a{
    color:#333;
    width:30px;
    height:25px;
    line-height:24px;
    text-align: center;
    border-radius:5px;   
} 


.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}



.featurette-divider {
  margin: 5rem 0; 
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS 
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


 body {
  font-family: 'Lato', sans-serif;
  background: #eceae8;
  color: #25211e;
}  

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
} 

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  flex-grow: inherit;
  flex-shrink: inherit;  
  background: transparent;
  outline: none;
  
  color: #574c40;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit:hover {
  color: #e2dedb;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /*Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
*/

/* LISTS TABLE */
.user-list tbody td > img {
    position: relative;
	max-width: 50px;
	float: left;
	margin-right: 15px;
}
.user-list tbody td .user-link {
	display: block;
	font-size: 1.25em;
	padding-top: 3px;
	margin-left: 60px;
}


/* TABLES */
.table {
    border-collapse: separate;
}