<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
    {% for book in books %}
      <div class="col">
        <div style="text-align: center;">
          <img src= "{{ book.image_url }}"  width="220" height="300" class=" image-thumbnail mb-3" />
          <h2 style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis; font-size: 35px">{{ book.title }}</h2>
          <p  style = "font-size: 25px">{{ book.author }}</p>
          <a href='{% url 'book_details' book.id %}' class="btn my-2 btn-outline-secondary" style = "font-size: 23px">View</a>
        </div>
      </div>
    {% endfor %}
</div>