<div class="col-sm-6 col-md-3">
    <div class="profile-card">
        <div class="profile-img">
            <img src="{{ book.image_url }}"  width="220" height="300"  />
        </div>
        <div class="profile-content">
            <h2 class="title">{{ book.title }}
                <span>{{ book.author }}</span>
            </h2>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <a href={{url}} class="btn btn-outline-dark mb-3 {{icon}} mr-2" style="margin-left:6em"  role="button" > {{action}} </a>
</div>