<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Book</span></th>
                                <th><span>Description</span></th>
                                <th><span>Genre</span></th>
                            </tr>
                        </thead>
                        <tbody  >
                            {% for book in Books %}
                                <tr> 
                                    <td  style="width: 30%;" > 
                                        <img  src="{{ book.image_url }}" alt="{{book.title}} cover image" style="height:80px; width:65px;">
                                        <a style=" display: -webkit-box; max-width: 200px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;  font-style: italic; font-size: 18px;" href='{% url 'book_details' book.id %}'  >{{book.title}}</a>
                                        <span style=" display: -webkit-box; max-width: 180px; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;  font-style: italic; font-size: 15px;"class="user-link">{{book.author}}</span>
                                    </td>
                                    <td style="width: 50%;">
                                        <div style="display: -webkit-box; max-width: 650px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;"> {{book.description}} </div>
                                    </td>
                                    <td style="width: 20%;">
                                        <div style="display: -webkit-box; max-width: 300px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;"> {{book.genre}} </div>
                                    </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    
    
    
    
