  <div>
    <h5 class = "mt-2 mb-3 ms-2 " style="font-size: 16px;"> 
      <div class="accordion accordion-flush" id="accordionFlushProgress">
        <!-- PERCENT SELECTED -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-Percent">
            <button id="percent" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePercent" aria-expanded="false" aria-controls="flush-collapsePercent" onclick="disablefirstbutton()">
              Percent
            </button>
          </h2>
          <div id="flush-collapsePercent" class="accordion-collapse collapse" aria-labelledby="flush-Percent" data-bs-parent="#accordionFlushProgress">
            <div class="accordion-body">
              <form action="{% url 'book_details' book.id %}" method="POST" class = "text-black" style="text-align: center;">
                {% csrf_token %}
                <div class="form-control text-center">
                  <label for="progressPercent" class="form-label">Percentage of book read:</label>
                  <input class="text-center mb-2" style="width: 35px; border: #fff; background-color: #fff;" disabled type="text" id="textInput" value="0">%
                  <input type="range"  name="progress-percent" value="0" class="form-range" min="0" max="100" step="0.5" id="progressPercent" onchange="updateTextInput(this.value);">
                  <!-- COMMENT -->
                  <textarea id="progressComment" name="progress-comment-percent" rows="4" class="form-control  mb-3 mt-3"style = "max-width: 360px" placeholder="How's the book?"></textarea>
                </div>
                <input type="submit" value="Update Progress" class="btn btn-dark  mt-3 mb-2 ms-2">
              </form>
            </div>
        </div> 

        <!-- PAGES SELECTED -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-Pages">
            <button id="pages" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePages" aria-expanded="false" aria-controls="flush-collapsePages">
              Pages
            </button>
          </h2>
          <div id="flush-collapsePages" class="accordion-collapse collapse" aria-labelledby="flush-Pages" data-bs-parent="#accordionFlushProgress">
            <div class="accordion-body">
              <form action="{% url 'book_details' book.id %}" method="POST" class = "text-black" style="text-align: center;">
                {% csrf_token %}
                <div class="form-control text-center">
                  <label for="progressPages" class="form-label">Pages of book read:</label>
                  <input class="text-center mb-2 text-black" style="width: 100px; background-color:#eceae8; border:#fff"  type="number" min="0" max="{% if book.pages_num %}{{book.pages_num}}{% endif %}" name="progress-pages" id="progressPages">
                  <!-- COMMENT -->
                  <textarea id="progressComment" name="progress-comment-pages" rows="4" class="form-control  mb-3 mt-3"style = "max-width: 360px" placeholder="How's the book?"></textarea>
                </div>
                <input type="submit" value="Update Progress" class="btn btn-dark mt-3 mb-2 ms-2">
              </form>
            </div>
          </div>
        </div> 
      </div>
    </h5>
  </div>

