{%load static%}
<div class="container marketing">
  <div class="row" style = "text-align:center">
    {% for club in clubs %}
      <div class="col-sm-6 col-md-4 col-lg-3  mt-3">    
        <img class="card-img" src="{% static '/images/3.png' %}" alt="Avatar" style="width:180px">
          <h2 class = >{{club.name}}
            {% if club.club_type == "Private" %}
              <span>
                <i class="bi bi-lock align-items-baseline" style="font-size: 1.5rem;"></i>
              </span>
            {% endif %}
          </h2>
          <p>{{club.theme}}</p>
          <p><a class="btn btn-outline-dark" href='{% url 'club_page' club.id %}'>View &raquo;</a></p>
      </div>
    {% endfor %}
  </div>
</div>
