<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
    {% for club in clubs %}
      <div class="col">
        <div style="text-align: center;">
          <h2 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size:38px; " >{{ club.name }}</h2>
          <p  style = "font-size: 24px">{{ club.theme }}</p>
          <a href='{% url 'club_page' club.id %}' class="btn my-2 btn-outline-secondary" style = "font-size: 23px"> View</a>
        </div>
      </div>
    {% endfor %}
</div>

<!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
  {% for club in clubs %}
      <div class="col">
        <div class="card border-light mb-3" style="max-width: 18rem; max-block-size: 18rem;" >
          <div style="text-align: center">
            <div class="card-header bg-dark-blue opacity-60 text-white">
              <h2 style="white-space: nowrap; text-overflow: ellipsis; font-size:38px;">{{ club.name }}</h2>
            </div>
            <div class="card-body  bg-light-pink opacity-50">
               <h2 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size:38px; " >{{ club.name }}</h2> -->
              <!-- <p class="card-text" style = "font-size: 24px">{{ club.theme }}</p>
              <a href='{% url 'club_page' club.id %}' class= "btn my-2 btn-outline-secondary bg-dark-blue opacity-75 text-white" style = "font-size: 23px"> View</a>
            </div>
          </div>
        </div>
    </div>
  {% endfor %}
</div> -->