<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
    {% for club in clubs %}
      <div class="col">
        <div style="text-align: center;">
          <h2 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size:38px; " >{{ club.name }}</h2>
          <p  style = "font-size: 24px">{{ club.theme }}</p>
          <a href='{% url 'club_page' club.id %}' class="btn my-2 btn-outline-secondary" style = "font-size: 23px"> View</a>
        </div>
      </div>
    {% endfor %}
</div>