<table class="table table-bordered" id="clubsTable">
    <thead>
    <tr style="background-color: white">
        <th class="th-sm">Name</th>
        <th class="th-sm">Type</th>
        <th class="th-sm">Theme</th>
        <th class="th-sm">Location</th>
    </tr>
    </thead>
        {% for club in Clubs %}
            <tr style="background-color: white">
                <td> <a href='{% url 'club_page' club.id %}'  style="color: black" > {{ club.name }}</a>  </td>
                    <td> <p>{{club.club_type}}</p> </td>
                    <td> <p>{{ club.theme }}</p> </td>
                    <td> <p>{{club.location }}</p> </td>
            </tr>
        {% endfor %}
</table>