{%load humanize%}
<tr>
    <td>

    </td>
    <td>
    <p class="event-author">
        <span class="author-user-details">
            <i class= "fas fa-user mr-1"> <a href= {% url 'profile' event.user.id  %}> {{event.user.username}} </a></i>
            &nbsp;&middot;&nbsp;
            <i class= "fa fa-clock mr-1"> </i> {{ event.created_at | naturaltime}}
        </span>
    </p>
    <p class="post-text">
        {{ event.get_actor }}
        {{ event.message }}
       {{ event.get_action }} 
       

    </p> 
    {% comment %} <p class="post-text">
        {{ post.text }}
    </p> {% endcomment %}
    </td>
</tr>