{%load humanize%}
<tr>
    <td>

    </td>
    <td>
    <p class="event-author">
        <span class="author-user-details">
            <i class= "fas fa-user mr-1"> <a href= {% url 'profile' event.user.id  %} style= "color: black"> {{event.user.username}} </a></i>
            &nbsp;&middot;&nbsp;
            <i class= "fa fa-clock mr-1"> </i> {{ event.created_at | naturaltime}}
        </span>
    </p>
    <p class="post-text">
        {{ event.get_actor }}
        {{ event.message }}
        {% if event.type_of_action == 'C' %}
            <a href= {% url 'club_page' event.club.id  %} style= "color: black">  {{ event.get_action }}  </a>
        {% elif event.type_of_action == 'B' %}
            <a href= {% url 'book_details' event.book.id  %} style= "color: black">  {{ event.get_action }}  </a>
        {% elif event.type_of_action == 'U' %}
            <a href= {% url 'profile' event.action_user.id  %} style= "color: black">  {{ event.get_action }}  </a>
        {% endif %}

    </p> 
    </td>
</tr>