
{% for event in club_events %}
    {% if club_events_length == 0  %}
        <p> No Club Updates Yet! </p>
    {% else %}
        <ul id="clubUpdatesList">
            {% with event.description|last as last%}
                {% if last == 'M'  %}
                    <li class="post-text mb-3">
                        <a href= {% url 'club_page' event.actor.id  %} style= "color: black">  {{ event.actor.name }}  </a>
                        {{event.verb}}{{event.action_object.title}}  </a>
                    </li>
                {%elif last == 'B' %}
                    <li class="post-text mb-3">
                        <a href= {% url 'club_page' event.actor.club.id  %} style= "color: black">  {{ event.actor.club.name }}  </a>
                        {{event.verb}}
                        <a href= {% url 'book_details' event.action_object.id  %} style= "color: black">  {{event.action_object.title}}  </a>
                        for meeting {{event.actor.title}} 
                    </li>
                {%elif last == 'U' %}
                    <li class="post-text mb-3">
                        <a href= {% url 'club_page' event.actor.id  %} style= "color: black">  {{ event.actor.name }}  </a>
                        {{event.verb}}
                        <a href= {% url 'profile' event.action_object.id  %} style= "color: black">  {{event.action_object.full_name}}  </a>
                    </li>
                {% endif %}
            
            {%endwith%}
        </ul>
    {% endif %}
    
    
{% endfor %}


   



