{% if messages %}
  <div class="container">
    <div class="row mt-5 fixed-top d-flex p-2 justify-content-center">
      <div class="col-lg-5 col-md-12">
        {% for message in messages %}
          <div id='msg' class="alert alert-{{ message.level_tag }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <script>
    var message_ele = document.getElementById("msg");

    setTimeout(function(){ 
      message_ele.style.display = "none"; 
    }, 4000);
  </script>

{% endif %}
