{%load static%}
{% load notifications_tags %}
{% live_notify_badge badge_class="badge" %}
{% live_notify_list list_class="dropdown-menu" %}


<script src="{% static 'notifications/notify.js' %}" type="text/javascript">
    function readMessage(){
        $.ajax({
            url:("/inbox/notifications/api/unread_list/?max=3&mark_as_read=false/"),
            dataType:'json',
            type: 'POST',
            data: "unread_list",
            success:function(response){
              response.unread_list[0].unread=false
              console.log(response.unread_list[0].unread)
            }
        });
        });
</script>
{% register_notify_callbacks callbacks='fill_notification_badge,my_special_notification_callback' %}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-item active">
            <a class="nav-link" href="{% url 'clubs_list' %}"> Clubs </a>
        </li>
        <li>
            <a class="nav-link" href="{% url 'books_list' %}"> Books </a>
        </li>
    </ul>  
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {%include 'partials/search_bar.html' %}
        &emsp;        

        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span  class="fa fa-bell"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% for notification in  request.user.notifications.unread %}
                <div>
                <a id="notiBla" href='{% url 'profile'  notification.actor.id %}' onclick="readMessage()">{{ notification.actor }}</a>
                {{notification.verb}} 
                {%if notification.action_object%} <a href='{% url 'club_page'  notification.action_object.id %}'>
                         {{notification.action_object.name}}</a> {%endif%}

                  </div>
                  <div class="dropdown-divider"></div>
              {% endfor %}
            </ul>


        <li class="nav-item dropdown">

            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="bi-person-circle"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'profile' %}">My profile</a></li>
                <li><a class="dropdown-item" href={% url 'books_list' request.user.id %}>My books</a></li>
                <li><a class="dropdown-item" href={% url 'clubs_list' request.user.id %}>My clubs</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'password' %}">Change password</a></li>
                <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
            </ul>
        </li>
    </ul>
</div>