<form class="d-flex" method=GET 
action="{% url 'search_page'%}">
{% csrf_token %}

  <select style="height: 35px;" id="category" name="category" class="fw-light center mt-1">
    <optgroup label="User">
      <option value="user-name">Name</option>
      <option value="user-location">Country</option>
    </optgroup>
    <optgroup label="Club">
      <option value="club-name">Name</option>
      <option value="club-location">Country</option>
    </optgroup>
    <optgroup label="Book">
      <option value="book-title">Title</option>
      <option value="book-author">Author</option>
      <option value="book-genre">Genre</option>
    </optgroup>
  </select>

  &emsp;
  <input style="height: 35px;"class="fw-light center form-control me-2 mt-1"
  type="search" placeholder="Search" aria-label="Search" name="searched"> 
  <button class="btn btn-outline-light bi bi-search mt-1" type="submit" style="color: light-grey; height: 35px"></button>
</form>