<!DOCTYPE html>
<html>
<form class="d-flex" method=GET 
action="{% url 'search_page'%}">
{% csrf_token %}
  <select id="category" name="category">
    <option value="Users">Users</option>
    <option value="Clubs">Clubs</option>
    <option value="Books">Books</option>
  </select>
  &emsp;
  <input class="form-control me-2"
  type="search" placeholder="Search" aria-label="Search" name="searched"> 
  <button class="btn btn-outline-light bi bi-search" type="submit" style="color: light-grey;"></button>
</form>
</html>