{% extends 'base_content.html' %}
{% load bootstrap_pagination %}
{% block title %}
| Meetings 
{% endblock %}
{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-3 mt-3">Meetings of {{club.name}} </h1> 
            <form action="{% url 'meetings_list' club.id %}" method=GET>
                <div class='tabs-alt d-flex mt-5 mb-3'>
                    {% if is_previous %}
                        <input type="submit" name='filter' value="Upcoming meetings" class="btn btn-outline-dark">
                        <input type="submit" name='filter' value="Previous meetings" class="btn btn-outline-dark disabled" role="button" aria-disabled="true">
                        &emsp;
                    {% else %}
                        <input type="submit" name='filter' value="Upcoming meetings" class="btn btn-outline-dark disabled" role="button" aria-disabled="true">
                        <input type="submit" name='filter' value="Previous meetings" class="btn btn-outline-dark">
                        &emsp;
                    {% endif %}
                </div>
            </form>
            {%if meetings_list %}
                {%include 'partials/meetings_information_table.html' with meetings_list=meetings_list is_previous=is_previous is_owner=is_owner %}
                <ul class="pagination justify-content-center">
                    {% bootstrap_paginate meetings_list show_prev_next="false"  show_first_last="true" range=5  %}
                </ul>
            {%else%}
                {%if is_previous %}
                    <h3 class = "mt-3 mb-3"> 
                        There are no previous meetings 
                    </h3>
                {%else%}
                    <h3 class = "mt-3 mb-3"> 
                        There are no scheduled meetings 
                    </h3>
                {% endif %}
            {%endif%}
            <a href='{% url 'club_page' club.id %}' class="btn btn-outline-dark mt-3 mb-2">Back to club</a>
        </div>
    </div>
</div>  
{% endblock %}